* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
.container {
  background: #fff;
  width: 450px;
  padding: 1.5rem;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}
form {
  margin: 0 30px;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 0.4rem;
}

button {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 235);
  color: white;
  cursor: pointer;
  transition: 0.9s;
}
button:hover {
  background: #4338ca;
}

.btn{
margin: 10px auto;
}

#signUpButton,
#signInButton {
  color: rgb(125, 125, 235);
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
#signUpButton:hover,
#signInButton:hover {
  background-color: rgb(125, 125, 235);
  color: white;
}